<!doctype html>
<html ng-app="baeDay">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
    <div ng-controller="BaeDayController as baeDay">
    <form ng-submit="baeDay.addActivity()">
        <input type="text" ng-model="baeDay.activityName"  size="30"
               placeholder="add new activity here">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="activity in baeDay.activities">
          <span>{{activity.name}}</span>
        </li>
      </ul>
    </div>
  </html>